@import "tailwindcss";
@plugin "daisyui";


.active{
    border-top: 2px;
    border-bottom: 2px;
    border-color: #fff;
    border-style: solid;
}
.bistro-boss{
    background-image: url('../src/assets/home/chef-service.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
}

.featured-background{
    background: linear-gradient(rgba(0, 0, 0, 0.589), rgba(0, 0, 0, 0.747)), 
    url('../src/assets/home/featured.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.login-background{
    background-image: url('../src/assets/others/authentication.png');
}
