@import "tailwindcss";
@plugin "daisyui";


.active{
    text-decoration: underline;
}
.bistro-boss{
    background-image: url('../src/assets/home/chef-service.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
}

.featured-background{
    background: linear-gradient(rgba(0, 0, 0, 0.589), rgba(0, 0, 0, 0.747)), 
    url('../src/assets/home/featured.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}